.main-layout {
min-height: 100%;
}
navbar {
  background-color: #f4f4f4;
}
.page-host {
  position: absolute;
  left: 68px;
  right: -20px;
  top: 0px;
  bottom: 0;
  overflow-x: hidden;
  overflow-y: auto;
  background: url("../img/bg-pattern.png"), #7b4397;
  background: url("../img/bg-pattern.png"), -webkit-linear-gradient(to left, #7b4397, #dc2430);
  background: url("../img/bg-pattern.png"), linear-gradient(to left, #7b4397, #dc2430);
}
side-bar {
  position: absolute;
  background-color: black;
  max-width: 74px;
  font-size: 11px;
  height: 100%;
  top: 0px;
}
side-bar a {
  text-align: center;
  color:#c6c6c6;
}

side-bar a:hover {
  color: white;
}

side-bar a:hover svg {
  fill: white;
}

side-bar a.active {
  color: #EC2685;
}
side-bar a.active svg {
  fill: #EC2685;
}

.jumbotron {
  margin-left: -16px;
  border-radius: 0px;
  background-color: #ed2b88;
  color: white;
  padding-top: 14px;
  font-size: 15px;
}

.video-zone {
  background-image: linear-gradient(to top, #6d50a2, #ed2b88);
  padding: 32px;
  display: flex;
  margin: -31px;
    margin-bottom: -64px;
}

nav li.active svg {
  fill: #EC2685;
}

nav svg {
  fill: #c6c6c6;
}

nav-bar {
  height: 60px;
}

nav-bar nav {
  height: 60px;
}

.bg-light {
  background-color: #f4f4f4 !important;
}

.navbar-brand img {
  height: 36px;
}

footer {
  bottom: 0px;
  height: 50px;
  left: 0;
  position: absolute;
  right: 0;
  font-size: 12px; font-weight: normal; color: yellow;
}
footer.content-footer {
  padding: 16px;
  background-color: black;
  transition: margin-left .2s;
  margin-top: 20px;
}

footer.content-footer > .copyright {
  text-align: center;
  font-weight: lighter;
  font-size: 14px;
  line-height: 18px;
}